@tailwind base;
@tailwind components;
@tailwind utilities;

/* tailwind.css */
@keyframes stroke {
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes scale {
    0%, 100% {
      transform: none;
    }
    50% {
      transform: scale3d(1.1, 1.1, 1);
    }
  }
  
  @keyframes fill {
    100% {
      box-shadow: inset 0px 0px 0px 30px #fff;
    }
  }
  
  .checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  }
  
  .checkmark__check {
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
  }
  
/* ... Other CSS rules ... */

@keyframes xmark-circle {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes xmark-cross {
  100% {
    stroke-dashoffset: 0;
  }
}

.xmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  animation: xmark-circle 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.xmark__cross {
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: xmark-cross 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}
